small {
	font-size: 150%;
}

.signInContainerRow {
	width: 100%;
	display: flex;
	justify-content: center;
}

.signInContainer {
	width: 20em;
}

.appLoggedOutPageContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	padding: 2em 5em 2em 5em;
}